.exceptions {
  h1,
  p {
    color: var(--error);
    text-align: center;
  }

  pre {
    background-color: var(--error-container);
    color: var(--on-error-container);
    border-radius: 20px;
    padding: 10px;
    text-wrap: wrap;
    overflow-x: scroll;
    max-height: 50vh;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
  .exceptions {
    pre {
      padding: 20px;
    }
  }
}

@media (min-width: 1024px) {
}
