.product {
  .texts {
    .title {
      color: var(--primary);
    }

    .price {
      font-size: 1.5rem;
    }
  }

  .quantitySelector {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;

    & button {
      flex-shrink: 0;
    }

    & input {
      border-radius: 20px;
      border: none;
      padding: 10px;
      font-family: inherit;
      font-weight: 500;
      width: 70px;
      text-align: center;
      background-color: var(--primary-container);
      color: var(--on-primary-container);
    }

    /* hide number input arrows */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}

select {
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  cursor: pointer;
}

.colour {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: 0.2s all linear;
    border: none;
    cursor: pointer;
    transform: scale(1.5);
  }

  input[type='radio']:checked {
    transform: scale(2);
  }

  input[type='radio']:hover:not(:checked) {
    transform: scale(1.7);
  }

  #black {
    background-color: black;
  }
  #blue {
    background-color: blue;
  }
  #red {
    background-color: red;
  }
  #green {
    background-color: green;
  }
  #pink {
    background-color: pink;
  }
  #brown {
    background-color: brown;
  }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .imageGallery {
      order: 1;
    }
  }
}

@media (min-width: 1024px) {
  .product {
    display: flex;
    flex-direction: row;

    .imageGallery {
      flex: 1;
      order: 1;
    }

    .texts {
      flex: 1;
      order: 2;
    }
  }
}
